In [1]:
#import libraries
import os
import pandas as pd
import re
import csv
from io import StringIO
from pathlib import Path
import networkx

In [3]:
#read file
filename = Path(input("Enter the file name : "))

Enter the file name : /Users/gio/Google Drive/Money/House Expenses/Transactions Gnucash All for network graph 2019 - Sheet1.csv

In [5]:
df = pd.read_csv(filename)

In [7]:
df.head()

,Date,Account01,Account02,Amount
0,01/03/2019,Assets:Current Assets:Banks Foreign:HSBC Savin...,Liabilities:Credit Card:HSBC Visa,"-12,903.09"
1,01/09/2019,Assets:Current Assets:Banks Foreign:HSBC Savin...,Assets:Current Assets:Banks Local:BPI Savings ...,"-290,000.00"
2,01/10/2019,Assets:Current Assets:Banks Foreign:HSBC Savin...,Income:Salary:Briony,"493,775.32"
3,01/10/2019,Assets:Current Assets:Banks Foreign:HSBC Savin...,Income:Salary:Briony,"719,600.26"
4,01/10/2019,Assets:Current Assets:Banks Foreign:HSBC Savin...,Assets:Current Assets:Banks Local:BPI Savings ...,"-290,000.00"