In [1]:
#import libraries
import os
import pandas as pd
import re
import csv
from io import StringIO
from pathlib import Path

In [6]:
#read file
filename = Path(input("Enter the file name : "))

Enter the file name : /Users/gio/Google Drive/Money/Gcash/Transaction History gcash 2020-08-31.csv

In [7]:
#load csv to dataframe
df = pd.read_csv(filename, names = ['datetime','desc','id','withdraw','deposit'], usecols = [0,1,2,3,4])[:-3]

In [8]:
df

,datetime,desc,id,withdraw,deposit
0,2020-08-01 04:22 PM,Transfer from 09989667209 to 09618353222,6000319911834,650.00,NaN
1,2020-08-01 10:35 PM,Received GCash from BPI,6000320732197,NaN,5000.0
2,2020-08-01 10:36 PM,Transfer from 09989667209 to 09985611744,6000320733279,2870.50,NaN
3,2020-08-08 03:22 PM,Transfer from 09989667209 to 09209210935,6000336365647,220.00,NaN
4,2020-08-19 09:41 AM,Received GCash from BPI,6000362305124,NaN,10000.0
5,2020-08-19 09:42 AM,Payment to Mercury Drug,0000648350973,8561.25,NaN
6,2020-08-19 02:52 PM,Transfer from 09989667209 to 09458128986,6000363206521,150.00,NaN
7,2020-08-20 12:18 PM,Transfer from 09989667209 to 09478900059,6000365200896,495.00,NaN

In [9]:
#convert id to integer then to a string
df['id'] = df['id'].astype('int64')
df['id'] = df['id'].astype('str')

In [ ]:
#join desc + id then drop it
df['desc'] = df['desc'] + ' ' + df['id']
df.drop(columns = ['id'],inplace = True)

In [ ]:
df['datetime'] = pd.to_datetime(df['datetime'])
df['datetime'] = df['datetime'].dt.strftime('%m/%d/%Y')

In [ ]:
#get rid of NaNs
df = df.fillna(value = 0)

In [ ]:
#lower case
df['desc'] = df['desc'].str.lower()

In [ ]:
#strip unneeded spaces
df['desc'] = df['desc'].str.strip()
df['desc'] = df['desc'].str.replace(" +"," ")

In [ ]:
#change order
df = df[['datetime','desc','deposit','withdraw']]

In [ ]:
#export to csv
filename_csv_full = 'for import ' + filename.name
export_csv = df.to_csv (filename_csv_full, index = None, header=True)